body {
    justify-content: center;
    background-color: #fffdc1;
    font-family: Franklin Gothic Medium;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 20px auto;
    padding: 0 0 10px 0;
}

#imgH1 {
    width: 520px;
    border-radius: 80px;
}

section{
    font-size: 50px;
    padding: 0 1px 0 1px;
    margin: 55px auto;
    position: relative;
    background-color: #ffd90f;
    width: 893px;
    height: 60px;
    border-radius: 20px;
    display: flexbox;
    justify-self: center;
}

section a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    color: #2e2e2e;
    padding: 0 21px;
    z-index: 1;
}

section span {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(30deg, #f257ac, #f28dc4);
    width: 233px;
    height: 100%;
    border-radius: 20px;
    transition: 0.5s;
}

section a:nth-child(1):hover~span{
   left: 0px;
}
section a:nth-child(2):hover~span{
   left: 231px;
}
section a:nth-child(3):hover~span{
   left: 444px;
}
section a:nth-child(4):hover~span{
   left: 662px;
}