
body {
    justify-content: center;
    background-color: #fafafa;
    font-family: Franklin Gothic Medium;
    align-items: center;
    min-height: 100vh;
}

/* HEADER */
/* LOGO PRINCIPAL */
h1 {
    text-align: center;
    margin: 20px auto;
    padding: 00 10px 0;
}

#imgH1 {
    border-radius: 80px;
    width: 520px;
}

/* NAVEGADOR PRINCIPAL */
nav {
    font-size: 50px;
    padding: 0 1px 0 10px;
    margin: 50px auto;
    position: relative;
    background-color: #ffd90f;
    border-radius: 20px;
    width: 939px;
    height: 60px;
    display: flexbox;
    justify-content: center;
}
nav a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: #2e2e2e;
    padding: 0 28px;
    z-index: 1;
}
nav span {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(30deg, #f257ac, #f28dc4);
    width: 233px;
    height: 100%;
    border-radius: 20px;
    transition: 0.5s;
}

nav a:nth-child(1):hover~span {
    left: 0px;
}
nav a:nth-child(2):hover~span {
    left: 237px;
}
nav a:nth-child(3):hover~span {
    left: 482px;
}
nav a:nth-child(4):hover~span {
    left: 717px;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 44px;
    background-color: #ffd90f;
    width: 550px;
    height: 44px;
    border-radius: 20px;
    padding: 10px 4px 24px 36px;
}

#botonTomy, #botonDaly {
    padding: 0;
    height: 282.3px;
}

h3 {
    font-family: "Coming Soon";
    font-size: 32px;
    padding-bottom: 10px;
    margin: 0 0 20px 20px;
    
}

label {
    font-size: 40px;
    padding: 0 0 0 16px;
}

#seleccionAtaque {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#botonAtaque {
    margin-left: 68px;
    border-radius: 20px;    
    width: 140px;
    height: 40px;
    font-size: 24px;
    border: none;
    background-color: #ffd90f;
    font-weight: bold;
}

#botonReiniciar {
    /* display: flex;
    justify-items: center; */
    border-radius: 20px;    
    width: 140px;
    height: 40px;
    font-size: 16px;
    border: none;
    background-color: #ffd90f;
    font-weight: bold;
}

#mensajeFinal {
    display: flex;
    justify-content: left;
}

#contraAtacar {
    border-radius: 20px;    
    width: 140px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: #ffd90f;
    font-weight: bold; 
}

#historial {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 0.9;
}
